{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "info": {
    "title": "Polymorphism PetStore",
    "description": "Some cool documentation.",
    "version": "2014-04-01-preview"
  },
  "paths": {
    "/getpolymorphicpets": {
      "get": {
        "operationId": "getPolymorphicPets",
        "summary": "Product Types",
        "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
        "responses": {
          "200": {
            "description": "A list of caches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pet"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "CreateOrUpdatePolymorphicPets",
        "summary": "Product Types",
        "description": "The Products endpoint returns information about the Uber products offered at a given location. The response includes the display name and other details about each product, and lists the products in the proper display order.",
        "responses": {
          "200": {
            "description": "A list of caches"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "x-ms-client-name": "PetCreateOrUpdateParameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pet"
              }
            }
          },
          "description": "A Pet"
        },
        "x-ms-requestBody-index": 0
      }
    }
  },
  "components": {
    "schemas": {
      "Pet": {
        "discriminator": {
          "propertyName": "dtype"
        },
        "required": [
          "dtype"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Id."
          },
          "description": {
            "type": "string",
            "description": "Description of a pet."
          },
          "dtype": {
            "type": "string"
          }
        }
      },
      "Cat": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Pet"
          }
        ],
        "properties": {
          "color": {
            "type": "string",
            "description": "cat color"
          }
        }
      },
      "Seamise": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Cat"
          }
        ],
        "properties": {
          "length": {
            "type": "integer",
            "description": "cat length"
          }
        }
      },
      "Burmese": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Seamise"
          }
        ],
        "properties": {
          "nickName": {
            "type": "integer",
            "description": "cat nick name"
          }
        }
      },
      "Himalayan": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Seamise"
          }
        ],
        "properties": {
          "hairLength": {
            "type": "integer",
            "description": "cat hair length"
          }
        }
      },
      "Persian": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Cat"
          }
        ],
        "properties": {
          "size": {
            "type": "integer",
            "description": "cat size"
          }
        }
      },
      "Dog": {
        "id": "Dog",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pet"
          }
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "dog name"
          }
        }
      },
      "Horse": {
        "id": "Horse",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pet"
          }
        ],
        "properties": {
          "breed": {
            "type": "string",
            "description": "horse breed"
          }
        }
      },
      "Lizard": {
        "x-ms-discriminator-value": "lzd",
        "allOf": [
          {
            "$ref": "#/components/schemas/Pet"
          }
        ],
        "properties": {
          "tailSize": {
            "type": "number",
            "format": "float",
            "description": "length of tail"
          }
        }
      },
      "Error": {
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "string"
          }
        }
      }
    }
  }
}