{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "info": {
    "title": "Optional Parameter test spec",
    "description": "Test correct generation of optional method parameters",
    "version": "1.0"
  },
  "paths": {
    "/params": {
      "get": {
        "operationId": "Widgets_List",
        "summary": "List all the wdigets",
        "description": "List all the widgets",
        "parameters": [
          {
            "name": "intParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "longParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "floatParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "doubleParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "byteParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "booleanParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dateParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "datetimeParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "API version",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Widgets"
        ],
        "responses": {
          "200": {
            "description": "A list of widgets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "A list of widgets",
                  "items": {
                    "$ref": "#/components/schemas/Widget"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/widgets/{id}": {
      "get": {
        "operationId": "Widgets_Get",
        "summary": "Get a wdiget by Id",
        "description": "Get a widget by id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the widget to get",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "longParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "floatParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "doubleParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "byteParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "booleanParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dateParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "datetimeParam",
            "in": "query",
            "description": "The maximum number of results to return.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "tags": [
          "Widgets"
        ],
        "responses": {
          "200": {
            "description": "The returned product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Widget"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Widget": {
        "properties": {
          "product_id": {
            "type": "string",
            "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
          },
          "description": {
            "type": "string",
            "description": "Description of product."
          },
          "display_name": {
            "type": "string",
            "description": "Display name of product."
          },
          "capacity": {
            "type": "string",
            "description": "Capacity of product. For example, 4 people."
          },
          "image": {
            "type": "string",
            "description": "Image URL representing the product."
          }
        }
      },
      "Error": {
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "string"
          }
        }
      }
    }
  }
}